@import '~bulma/bulma.sass';


h1, h2 {
  text-align: center;
  padding-top: 30px;
}

.counter {
  text-align: right;
  margin-right: 200px;
}

.navbar-item {
  margin-left: 50px;
}

.our-container {
  display: flex;
  flex-wrap: wrap;
  // margin: 80px;
  // width: 800px;
  justify-content: center;
  margin-top: 90px;
}

.our-container div {
  border: 2px solid black;
  width: 300px;
  height: 300px;
  margin: 30px;
}

button {
  margin: 5px;
}

button.correct {
  border: solid 5px green;
}

button.incorrect {
  border: solid 5px red;
}

.card {
  display: flex;
  flex-direction: column;
  height:100%;
  // max-width: 33%;
  // min-width: 300px;
}
.card-header{

}

.card-content {
  justify-items: center;  
}

section {
  margin: 50px;
}