@import '~bulma/bulma.sass';

body {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  background-image: url('../assets/19925.jpg');
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h2.title {
  color: white;
}

h1.home {
  font-size: 100px;
  color: white;
  animation: flash;
  animation-duration: 2s;
  animation-iteration-count: 1000;
  
}

h1, h2 {
  text-align: center;
  // padding-top: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
  color: white;
}
h3 {
  text-align: center;
  padding-top: 100px;
  color: white;
}

.section {
  margin-top: 80px;
}

.counter {
  text-align: right;
  margin-right: 200px;
}

.navbar {
  background-color: black;
  color: white;
}

.navbar-item {
  // margin-left: 50px;
  text-decoration: none;
}

.our-container {
  display: flex;
  flex-wrap: wrap;
  margin: 80px;
  width: 90%;
  justify-content: center;
  margin-top: 90px;

    :hover {
        animation: pulse;
        animation-duration: 1s;
      }
}

.our-container div {
  border: 2px solid none;
  width: 300px;
  height: 300px;
  margin: 30px;
}

button {
  // margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  width:250px;
  height: 150px;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  border-color: #FF6F69;
  outline: none;
  -webkit-appearance: none;
    
}

button.next {
  // margin-left: 700px;
  margin-top: 200px;
  padding: 20px;
  width:250px;
  height: 90px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;

}
.next-div {
  display: flex;
  justify-content: center;
  :hover {
      animation: pulse;
      animation-duration: 1s;
    }
}

button.correct {
  border: solid 5px green;
}

button.incorrect {
  border: solid 5px red;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
 
// .container {
//   height: 400px;
// }
  
  // max-width: 33%;
  // min-width: 300px;
}

.card {
  height: 400px;
  width: 800px;
  margin: 0px;

  // background-color: #ffcecc;
  // width: 60%;

  // max-width: 33%;
  // min-width: 300px;
}
 .card-header {
  height: 30%;
  font-size: x-large;
  text-align: center;
 }

.card-content {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;  
  align-items: center;
  height: 300px;
  :hover {
      animation: pulse;
      animation-duration: 1s;
    }
}

section {
  margin: 50px;
}
.film {
  background-color: rgba(177, 59, 59, 0.548);
  border: solid 1px white;
}

.tv {
  background-color: rgba(177, 59, 59, 0.548);
  border: solid 1px white;
}

.navbar-start {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}